.wrapper{
    justify-content: center;
    margin: 0 auto;
}

.whiteSquare{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    background-color: white;
}

.blackSquare{
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    background-color: black;
}

.square:hover{
    background-color: black;
}

.counter-data{
    margin-left: 5px;
}